* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}
header {
  padding: 1vw 4vw;
  height: 100vh;
  background: radial-gradient(#fff, #ffd6d6);
}
.mobileonly {
  display: none;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  list-style-type: none;
  display: flex;
}
nav ul li {
  margin-left: 3vw;
  font-size: 1.1vw;
  cursor: pointer;
}
nav .user {
  position: relative;
}
nav .user .login {
  text-decoration: none;
  color: black;
}
nav .user .login:hover {
  color: #ff4848;
}
nav .user .dropdown-menu {
  list-style-type: none;
  display: none;
  position: absolute;
  margin-top: 1vh;
  top: 100;
  right: -50%;
  width: 10vw;
  background: white;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 0;
  z-index: 1;
  cursor: default;
}
nav .user:hover .dropdown-menu {
  display: block;
}
.dropdown-menu li {
  text-align: center;
  font-size: 1.3vw;
  margin: 4% 1% 0% 1%;
  padding: 0;
  border-bottom: 1px solid rgb(85, 85, 85);
}
.dropdown-menu button {
  width: 100%;
  font-size: inherit;
  cursor: pointer;
  background-color: transparent;
  border-style: none;
}
.dropdown-menu button:hover {
  background-color: rgb(85, 85, 85);
  color: white;
}
.dropdown-menu li:hover {
  color: #ff4848;
}

.cart-icon {
  font-size: 2vw;
  text-decoration: none;
}
.cartlink {
  text-decoration: none;
  color: black;
}
nav ul .cart {
  position: relative;
}
nav ul .cart span {
  display: block;
  position: absolute;
  right: -10%;
  bottom: 60%;
  background-color: red;
  padding: 0.05vw 0.4vw;
  border-radius: 50%;
  font-size: 0.9vw;
  color: white;
  z-index: 5;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.hero div {
  width: fit-content;
}
.hero div h1 {
  font-size: 4vw;
  line-height: 100px;
}
.hero div p {
  font-size: 1.3vw;
  font-weight: 300;
}
.hero div button {
  margin-top: 2vw;
  padding: 1vh 2vh;
  border-radius: 20px;
  font-size: 1vw;
  font-weight: 500;
  border-style: none;
  background-color: rgb(235, 116, 72);
  color: white;
  cursor: pointer;
}
.hero img {
  flex-basis: 50%;
  width: 50%;
}
.products-container {
  padding: 2vw 4vw 4vw 4vw;
}
.products-container h2 {
  text-align: center;
  font-size: 2.7vw;
}
.products-container hr {
  height: 1vh;
  width: 20vw;
  border-style: none;
  border-radius: 5px;
  margin: 0 auto;
  background-color: black;
  margin-bottom: 4vw;
}
.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
}
.product-card img {
  width: 100%;
}
.product-card button {
  border-style: none;
  background-color: #ff4848;
  padding: 0.5vw 2vw;
  border-radius: 2vh;
  font-size: 0.9vw;
  cursor: pointer;
}
/* Styling for cart items */
.cart-section {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 4vw 5vw;
  height: 100vh;
  background-color: hsl(0, 0%, 90%);
}
.cart-items-list {
  width: 50vw;
  justify-content: space-between;
  border-radius: 10px;
  background-color: white;
  height: fit-content;
}
.cart-items-list .head {
  display: flex;
  justify-content: space-between;
  background-color: #ff4848;
  border-radius: 10px 10px 0 0;
  padding: 0.5vw 1vw;
  border-bottom: 1px solid grey;
}
.cart-items-list .head button {
  border-style: none;
  background-color: transparent;
  font-size: 1.5vw;
  border-radius: 50%;
  cursor: pointer;
}
.cart-items-list .head h3 {
  font-size: 1.5vw;
  font-weight: 300;
}
.summary {
  background-color: white;
  height: fit-content;
  width: 20vw;
  border-radius: 10px 10px 0 0;
}
.summary h3 {
  text-align: center;
  background-color: #ff4848;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid grey;
  text-transform: uppercase;
  font-weight: 500;
}
.summary .sub-total {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1vw;
  padding: 0.5vw 0.2vw;
  border-bottom: 1px solid grey;
}
.summary button {
  width: 100%;
  margin-top: 1vw;
  text-transform: uppercase;
  font-size: 1vw;
  padding: 0.3vw 0;
  cursor: pointer;
}
.cart-item {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  border-bottom: 1px solid rgb(32, 32, 32);
  margin: 1vw 1.6vw;
  padding: 0.5vw 0;
}
.cart-item .item-pic {
  flex-basis: 13%;
}
.cart-item .item-pic button {
  display: flex;
  align-items: center;
  font-size: 1vw;
  padding: 0.1vw;
  border-style: none;
  border-radius: 4px;
  margin-top: 0.3vw;
  color: red;
  background-color: transparent;
  cursor: pointer;
}
.cart-item img {
  width: 100%;
}
.cart-item h2 {
  background-color: none;
  text-align: left;
  flex-basis: 60%;
}
.cart-item .count-btns {
  display: flex;
  align-items: center;
}
.cart-item .count-btns button {
  padding: 0vw 0.8vw;
  margin: 1vw;
  font-size: 2vw;
  border-style: none;
  color: #ff4848;
  border-radius: 20px;
  cursor: pointer;
}
.cart-item .count-btns p {
  font-size: 1vw;
}
.cart-item .count .price {
  text-align: right;
  font-size: 1.5vw;
  margin: 0 1vw;
}
/* Login page */
.login-container {
  margin: 20vh auto;
  width: fit-content;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 90%);
  padding: 3vw 1vw;
  border-radius: 10px;
}
.login-container input {
  width: 30vw;
  font-size: 1.3vw;
  margin-bottom: 1vw;
  border-radius: 5px;
  padding: 0.5vw;
  outline: none;
  border-style: none;
}
.login-container button {
  font-size: 1.3vw;
  background-color: #ff4848;
  width: 100%;
  cursor: pointer;
  margin-top: 1vw;
  font-weight: 500;
}
.login-container .signup p {
  /* display: flex; */
  /* width:100%; */
  text-align: center;
  font-size: 1vw;
  margin-top: 1vw;
}
